.daundertext a{
color: #2b6cb0 !important;
}
.daundertext a:hover{
color: #2b6cb0 !important;
}
.nav-pills .nav-link:not(.active):not(.text-muted)::before {
border: 2px solid #2b6cb0 !important;
}
.nav-pills .nav-link:not(.active):not(.text-muted)::after {
color: #2b6cb0 !important;
}
.nav-pills .nav-link:not(.active):not(.text-muted) {
color: #2b6cb0 !important;
}
.nav-link{
border-radius: 6px !important;
}
.nav-link.active{
border-radius: 6px !important;
background-color: #2b6cb0 !important;
color: #fff !important;
}
.row.da-field-container.da-field-container-note, .da-subquestion{
}
.row.da-field-container.da-field-container-note a{
color: #2b6cb0 !important;
}
.row.da-field-container.da-field-container-note a:hover{
color: #2b6cb0 !important;
}
.da-page-header {
}
.da-page-header h1 {
}
.da-form-label {
}
.da-field-container-datatype-text .dafieldpart input,
.da-field-container-datatype-integer .dafieldpart input,
.da-field-container-datatype-email .dafieldpart input,
.da-field-container-datatype-date .dafieldpart input,
.da-field-container-datatype-number .dafieldpart input,
.da-field-container-datatype-csv .dafieldpart input
{
}
.da-field-container-inputtype-area .dafieldpart textarea {
}
input.labelauty + label.btn-light{
}
input.labelauty + label.btn-primary{
background-color: #d9e3f0 !important;
}
input.labelauty + label.btn-light:hover, input.labelauty + label.btn-primary:hover{
}
.labelauty-checked-image{
box-shadow: 0 0 0 3px #fff, 0 0 0 5px #2b6cb0 !important;
background-color: #2b6cb0 !important;
}
.labelauty-checked{
}
.labelauty-unchecked-image{
}
.labelauty-unchecked{
}
.da-field-checkboxes span.labelauty-checked-image{
box-shadow: #2b6cb0 0px 0px 0px 1px !important;
background-color: #2b6cb0 !important;
}
.da-field-checkboxes span.labelauty-unchecked-image {
}
span.da-has-error {
}
.invalid-feedback{
}
.combobox-container input{
}
.dropdown-menu{
}
.dacomboboxtoggle{
border-color: #2b6cb0 !important;
color: #2b6cb0 !important;
}
.dacomboboxtoggle:hover{
}
.dropdown-item{
}
.dropdown-item:hover, .dropdown-item.active{
}
.form-select {
}
button.daquestionbackbutton.btn-light{
border-color:transparent !important;
}
button.daquestionbackbutton {
color: #2b6cb0 !important;
}
button.daquestionbackbutton:hover {
}
fieldset.daFieldButtons {
}
.btn.btn-da.btn-primary, .btn.btn-primary:disabled, .btn.btn-primary.disabled, .btn-secondary.disabled, .btn-secondary:disabled {
background-color: #2b6cb0 !important;
color: #ffffff;
border-radius: 6px !important;
}
.btn.btn-da.btn-primary{
border-color:transparent !important;
}
.btn.btn-da.btn-secondary, p .btn-secondary.btn-sm {
background-color: #2b6cb0 !important;
border-width : 0px !important;
}
.btn.btn-da.btn-secondary:hover, p .btn-secondary.btn-sm:hover {
border-color : #094a81 !important;
}
.btn-warning {
border-color: transparent !important;
border-radius: 6px !important;
}
.btn.btn-da.btn-primary:hover{
}
.row.da-field-container.da-field-container-note  h4{
}
.bg-light{
}
.da-review-button{
}
#daform .da-review-action.da-review-action-button, table.table.table-striped tr td a.btn.btn-darevisit:not(.btn-danger) {
color: #2b6cb0 !important;
}
#daform .da-review-action.da-review-action-button:hover, table.table.table-striped tr td a.btn.btn-darevisit:not(.btn-danger):hover{
}
.da-review-button p{
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
}
.select2-container--default .select2-search--dropdown .select2-search__field  {
outline-color : undefined !important;
outline-style :  undefined !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
font-family: undefined !important;
}
.select2-results__option{
font-family: undefined !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
{
}
.select2-container--default .select2-results__option--selectable.select2-results__option--highlighted{
}
.text-info{
color : #0050a6 !important !important;
}
.text-info:hover{
color : #1678b2 !important !important;
}
.da-attachment-title-wrapper h3{
}
.da-attachment-download-wrapper p a {
color: #ffffff !important;
background-color: #2b6cb0 !important;
border-radius: 6px !important;
}
.da-attachment-download-wrapper p a:hover{
}
hr{
}
.table-responsive + p a.btn-success, .btn.dacollectadd {
border-radius : 6px !important;
}
.table-responsive + p a.btn-success:hover, .btn.dacollectadd:hover{
}
table.table.table-striped tr td a.btn.btn-darevisit.btn-danger, button.btn.dacollectremoveexisting, button.btn.dacollectremove{
}
table.table.table-striped tr td a.btn.btn-darevisit.btn-danger:hover, button.btn.dacollectremoveexisting:hover, button.btn.dacollectremove:hover{
background-color : rgb(197 59 0 / 100%) !important;
color : #fff !important;
border-color : rgb(197 59 0 / 100%) !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
font-family: "Source Sans Pro", sans-serif, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.da-subquestion h2, .h2{
}
.table.table-striped thead th{
font-family: undefined !important;
}
.table-striped tbody tr:nth-of-type(2n+1), .table.table-striped thead th{
}
.table-striped tbody tr:nth-of-type(2n){
}
.table > :not(caption) > * > *{
box-shadow: none !important;
}
.table tr{
}
.btn-info{
background-color : #2b6cb0 !important;
border-color : #2b6cb0 !important;
color : #fff !important;
font-family: undefined !important;
border-radius : 6px !important;
}
.btn-info:hover{
background-color : #0069d9 !important;
border-color : #0069d9 !important;
color : #fff !important;
}
.btn-secondary:focus, .btn-secondary.focus,     .btn.btn-da.btn-primary:focus, .btn-primary:focus{
box-shadow: none !important;
}
#nav_username {
    color: #2b6cb0;
}
span.fas.fa-caret-down {
    color: #2b6cb0;
}
.form-label.btn-light:hover {
    background-color: #d9e3f0; /* Change this to your desired background color */
}
button:disabled {
    color: white; /* Change this to the text color you want */
}
button.btn.btn-primary:disabled {
    color: white; /* You can change this to any color you prefer */
}
button.btn.btn-da.btn-primary:disabled {
    color: white:
}
